:root {
    --bg-color:#14120B;
    --color-white: #EDECEC;
    --color-box: #1B1913;
    --color-text-secondary: #999896;
    --color-text-links: #F54A07;
}

@font-face {
    font-family: CursorGothic;
    src: url('./assets/fonts/CursorGothic-Regular2.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: CursorGothic;
    src: url('./assets/fonts/CursorGothic-Italic.woff2') format('woff2');
    font-display: swap;
    font-style: italic;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--bg-color) ;
}
.main-container {
    max-width: 1300px;
    margin-bottom: 1000px;
}
*{
    margin: 0;
    padding: 0;
    font-family: "CursorGothic", system-ui, sans-serif;
    font-style: normal;
}

header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
}

header {
    position: sticky;
    top: 0px;
    background-color: var(--bg-color);
}

header div img {
    color: #ffffff;
}

header div nav ul li {
    color: var(--color-white);
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    color: var(--color-white);
    padding: 5.6px 15px;
}

header div nav ul {
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.signin-btn {
    color: var(--color-white);
    background: var(--bg-color);
    font-size: 14px;
    padding: 5.6px 10.5px 5.88px;
    border-radius: 50px;
    border: 1px solid #4d4d4d;
}

.download-btn {
    color: var(--bg-color);
    background: var(--color-white);
    font-size: 14px;
    padding: 5.6px 10.5px 5.88px;
    border-radius: 50px;
    border: 1px solid #4d4d4d;
}

.section{
    padding: 112px 20px 67.2px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    margin-bottom: 100px;
    max-width: 1300px;
    color: var(--color-white);
}

.container h1{
    margin-bottom: 22.4px;
    color: var(--color-white);
    font-size: 26px;
} 

.container h2{
    margin-bottom: 22.4px;
    color: var(--color-white);
    font-size: 26px;
}

.container p{
    color: var(--color-white);
    text-align: center;
    font-size: 14px;

}

.container-btn {
    background-color: var(--color-white);
    border: 1px solid var(--color-white);
    cursor: pointer;
    font-size: 16px;
    padding: 12.48px 21.6px 12.8px;
    border-radius: 3.40282e38px;
    justify-content: center;
    align-items: baseline;
    line-height: 1;
    display: inline-flex;
    gap: 3px;
    color: #14120B;
}

.icon {
  font-size: 18px;
  color: rgb(0, 0, 0);
  line-height: 1;
  background-color: transparent;
}

.section img {
    width: 1300px;
    padding-top: 62px;
    border-radius: 10px;
}

.box {
    text-align: center;
    color: var(--color-white);
    max-height: 100px;
    background-color: var(--color-box);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 7.5px;
}

.box img {
    height: 40px;
    background: transparent;
}

.box-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  gap: 8px;              
  align-items: center;
  margin-top: 20px;
}

.big-box-container {
     padding: calc(calc(10rem/16)*1.75);
     background-color: var(--color-box);
     border-radius: 4px;
}

.big-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}


.big-box-text {
  font-size: 22px;
  padding: 0 30px 0 2.5px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.big-box-text h3 {
    font-size: 22px;
}

.big-box img {
    width: 840px;
}
.big-box-subheading {
    font-size: 22px;
    color: var(--color-text-secondary);
}

.big-box-links {
    color: var(--color-text-links);
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
}

.testimonial-container h1{
    text-align: center;
    font-size:36px ;
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr) );
    grid-template-rows: repeat(2, minmax(0,240px));
    gap:calc(calc(10rem/16)*1);
    align-items: stretch;
}

.testimonial-box {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    padding: 17px;
    background-color: var(--color-box);
    border-radius: 4px;
}

.testimonial-box p {
    text-align: start;
    font-size: 16px;
}

.testimonial-person-details {
    display: flex;
    gap:calc(calc(10rem/16)*1);

}

.testimonial-person-details img {
    border-radius: 4px;
}

.testimonial-person-details div p {
    font-size: 14px;
}
.testimonial-person-details div .role {
    color: var(--color-text-secondary);

}



.frontier {
    margin-top: 200px;
}

.frontier-card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 1fr;
    gap:calc(calc(10rem/16)*1);
}

.frontier-card {
    width: fit-content;
    padding: 15.9px 17.5px 17.5px;
    background-color: var(--color-box);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.frontier-card div {
    color: var(--color-text-secondary);
    margin-bottom: 4px;
    line-height: 1.6;
}
.frontier-card p{
    color: var(--color-white);
    margin-bottom: 4px;
}

.frontier-card a{
    color: var(--color-text-links);
    text-decoration: none;
    margin: 15px 0px 17px 0px;
}