.primary-btn-small {
  height: fit-content;
  padding: 0.35rem 0.65625rem;
  border-radius: 6.25rem;
  font-size: 0.875rem;
  border: none;
  width: fit-content;
}
.primary-btn-regular {
  height: fit-content;
  padding: 0.875rem 1.375rem;
  border-radius: 6.25rem;
  font-size: 1rem;
  font-size: 1rem;
  border: none;
  width: fit-content;
}

.secondary-btn-small {
  height: fit-content;
  padding: 0.35rem 0.65625rem;
  background-color: var(--color-bg);
  border-radius: 6.25rem;
  font-size: 0.875rem;
  color: white;
  border: 0.0625rem solid var(--color-btn-border);
  width: fit-content;
}
.primary-btn-regular:hover,
.primary-btn-small:hover {
  cursor: pointer;
  filter: brightness(0.9);
}
.secondary-btn-regular,
.secondary-btn-small:hover {
  cursor: pointer;
  filter: brightness(1.2);
}
