.changelog-section {
  width: 100%;
  max-width: 81.25rem;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.changelog-section h2 {
  font-size: 1.5rem;
  font-weight: 100;
}

.changelog-section .card-container {
  display: flex;
  gap: 0.5rem;
}

.changelog-section .card-container .card {
  padding: 1rem 1.125rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--color-surface-1);
  border-radius: 0.25rem;
}

.changelog-section .card-container .card:hover {
  filter: brightness(1.1);
}

.changelog-section .card-container .card .date-wrapper {
  color: var(--color-text-muted);
  display: flex;
  gap: 0.5rem;
}

.changelog-section .card-container .card .date-wrapper .version {
  font-size: 0.875rem;
  padding: 0.125rem 0.5rem;
  border: 0.0625rem solid var(--color-text-muted);
  border-radius: 2.5rem;
}

.changelog-section .card-container .card .description {
}
