.features-section {
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
  margin: 2.25rem 0;
}

.features-section .card {
  display: flex;
  gap: 4rem;
  padding: 1rem;
  background-color: #1a1912;
  justify-content: space-between;
  align-items: center;
  border: 0.0625rem solid var(--color-border);
  border-radius: 0.25rem;
  width: 100%;
  max-width: 81.25rem;
}

.features-section .card:hover {
  filter: brightness(1.1);
}

.features-section .card .left-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.features-section .right-description-container .left-container {
  display: flex;
  order: 2;
  flex-direction: column;
  gap: 1rem;
}

.features-section .card .content h3 {
  font-size: 1.375rem;
  font-weight: 100;
}

.features-section .card .content .description {
  color: var(--color-text-muted);
  font-size: 1.375rem;
}

.features-section .card .agent-section-image {
  object-fit: cover;
  width: 52.5rem;
  height: 40.625rem;
  object-position: center;
  border-radius: 0.25rem;
}
