header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0rem;
  position: fixed;
  z-index: 20;
  background-color: var(--color-bg);
}

nav {
  width: 100%;
  display: flex;
  max-width: 81.25rem;
  justify-content: space-between;
  align-items: center;
}

nav .logo-wrapper {
  width: 10.25rem;
  height: 3.25rem;
  display: flex;
  align-items: center;
}

.logo-wrapper img {
  height: 1.875rem;
}

.logo-wrapper .logo-text {
  height: 0.875rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 0.875rem;
}

nav .btn-wrapper {
  display: flex;
  width: 10.25rem;
  gap: 0.5rem;
}
