.testimonial-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 81.25rem;
  justify-content: center;
}

.testimonial-section h2 {
  font-size: 2.25rem;
  font-weight: 100;
  text-align: center;
}

.testimonial-card-container {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 15rem 15rem;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.125rem;
  background-color: var(--color-surface-1);
  border: 0.0625rem solid var(--color-border);
  border-radius: 0.25rem;
  width: 100%;
  height: 100%;
}

.testimonial-card .info-wrapper {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.testimonial-card .info-wrapper .info {
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.testimonial-card .info-wrapper .avatar {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.125rem;
}
