.trusted-by-section {
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
}

.trusted-by-section .company-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.trusted-by-section .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  border-radius: 0.25rem;
  height: 6.25rem;
  width: 9.625rem;
  border: 0.0625rem solid var(--color-border);
  background: var(--color-surface-1);
}

.trusted-by-section .logo img {
  height: 2.5rem;
}
